@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap');  
body, html{
    height:100%;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

.img{
    background-image:url("image/img3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px);
    -webkit-filter:blur(20px) ;
}


.container{
          top: 50%;
          left: 50%;
          position: absolute;
          transform:translate(-50%,-50%);
}
.widget{
    width: 400px;
    height:200px;
    border-radius: 20px;
    background: rgba(299,299,299,0.4)

}
 
.widget .left{
          position: absolute;
          left: 0;
          width:152px;
}

.widget .right{
    position: absolute;
    right: 0;
    width:200;
    color: #fff;
    margin: 50px;
    margin-top: 38px;
}
.icon{
    width:120px;
    margin-bottom:-30%;
    display:block;
    margin-left:35%;
    margin-right: auto;

}
.weather-status{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-left:46% ;
}
.widget .right .city{
    font-size: 1.5em;
    margin: 100;
    text-shadow: 1px 1px 5px #707070;
}
.widget .right .Degree{
    font-size: 2em;
    margin: 100;
    text-shadow: 1px 1px 5px #707070;
}

.widget.right.degree{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin:20%;
    text-shadow: 1px 1px 5px #fff;
}
.today{
    padding: 0%;
    margin-top: -22%;
    margin-bottom: -3%;
}
.widget .bottom{
    width:100% ;
    position:absolute ;
    bottom: 10px; ;
    display:flex ;
    justify-content: center;
    color: #fff;
}
.widget .bottom div{
         margin: 5px 10px 5px 10px;
         text-align: center;
         line-height: 100%;
         font-size: 0.83em;
         text-shadow: 1px 1px 5px #707070;

}
.bottom div span{
    display: block;
}
.days .day{
    width: 176%;
    top: 315%;
    position: absolute;
    right: -40%;
    border-radius: 20px;

}